html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,  Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../public/bg-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url(../public/bg.jpg);
  }
}